<span class="dijitFileInput">
    <input id="${id}" name="${name}" class="dijitFileInputReal" type="file" dojoAttachPoint="fileInput" />
    <span class="dijitFakeInput" dojoAttachPoint="fakeNodeHolder">
        <input class="dijitFileInputVisible" type="text" dojoAttachPoint="focusNode, inputNode" />
        <span class="dijitInline dijitFileInputText" dojoAttachPoint="titleNode">${label}</span>
        <span class="dijitInline dijitFileInputButton" dojoAttachPoint="cancelNode" dojoAttachEvent="onclick:reset">${cancelText}</span>
    </span>
    <span class="dijitProgressOverlay" dojoAttachPoint="overlay">&nbsp;</span>
</span>
