{
    options = (
        {
            property    = net.sf.webcat.core.messaging.SMSProtocol.mobileNumber;
            type        = shortText;
            size        = 15;
            name        = "Mobile Number";
            description =
  "The telephone number to which SMS messages will be sent.";
        },
        {
            property    = net.sf.webcat.core.messaging.SMSProtocol.mobileProvider;
            advanced    = true;
            type        = radioChoice;
            default     = 0;
            choices     = (
                { label = "AT&T"; value = 0; },
                { label = "Sprint"; value = 1; },
                { label = "T-Mobile"; value = 2; },
                { label = "Verizon"; value = 3; }
            );
            size        = 15;
            name        = "Mobile Provider";
            description =
  "The mobile provider for your cellular telephone service.";
        }
    );
}
