{
    globalOptions = (
        {
            property    = net.sf.webcat.core.messaging.TwitterProtocol.username;
            type        = shortText;
            size        = 15;
            name        = "Twitter Username";
            description =
  "The username of the Twitter account that will be updated when
   messages are sent.";
        },
        {
            property    = net.sf.webcat.core.messaging.TwitterProtocol.password;
            type        = password;
            size        = 15;
            name        = "Twitter Password";
            description =
  "The password of the Twitter account.";
        }
    );
}
