<div class="module"><wo:if condition="$isStatic"><wo:if condition="$isCollapsible">
<wo:WOGenericContainer elementName="div" dojoType="dijit.TitlePane" id="$id" title="$title" open="$startOpen" showsLoadingMessageOnRefresh="$showsLoadingMessageOnRefresh">
<wo:content/></wo:WOGenericContainer></wo:if><wo:else>
<wo:if condition="$hasTitle"><h1><wo:str value="$title"/></h1></wo:if>
<wo:content/></wo:else></wo:if><wo:else><wo:if condition="$isCollapsible">
<wo:net.sf.webcat.ui.WCTitlePane id="$id" title="$title" open="$startOpen" showsLoadingMessageOnRefresh="$showsLoadingMessageOnRefresh">
<wo:content/></wo:net.sf.webcat.ui.WCTitlePane></wo:if><wo:else>
<wo:if condition="$hasTitle"><h1><wo:str value="$title"/></h1></wo:if>
<wo:content/></wo:else></wo:else>
</div>