<webobject name="ShowOption">
<webobject name="IsBoolean">
<div><webobject name="CheckBox"/> <b><webobject name="OptionName"/></b></div>
</webobject><webobject name="IsAntBoolean">
<div><webobject name="CheckBox"/> <b><webobject name="OptionName"/></b></div>
</webobject><webobject name="IsInteger">
<div><b><webobject name="OptionName"/></b>: <webobject name="IntegerBox"/></div>
</webobject><webobject name="IsDouble">
<div><b><webobject name="OptionName"/></b>: <webobject name="DoubleBox"/></div>
</webobject><webobject name="IsListChoice">
<div><b><webobject name="OptionName"/></b>: <webobject name="ListChoice"/></div>
</webobject><webobject name="IsRadioChoice">
<div><b><webobject name="OptionName"/></b>:</div>
<table class="layout"><webobject name="RadioRepetition"><tr>
<td><webobject name="RadioButton"/></td><td><webobject name="ChoiceLabel"/></td>
</tr></webobject></table>
</webobject><webobject name="IsFile">
<div><b><webobject name="OptionName"/></b>: <webobject name="File"/>
<webobject name="CanBrowse"><webobject name="HasValue"> <webobject name="Download"/></webobject><webobject name="Browse"/><webobject name="HasValue"> <webobject name="UseDefault"/></webobject></webobject><webobject name="CannotBrowse"><b class="warn">Cannot browse files</b></webobject></div>
</webobject><webobject name="IsFileOrDir">
<div><b><webobject name="OptionName"/></b>: <webobject name="File"/>
<webobject name="CanBrowse"><webobject name="HasValue"> <webobject name="Download"/></webobject><webobject name="Browse"/><webobject name="HasValue"> <webobject name="UseDefault"/></webobject></webobject><webobject name="CannotBrowse"><b class="warn">Cannot browse files</b></webobject></div>
</webobject><webobject name="IsShortText">
<div><b><webobject name="OptionName"/></b>: <webobject name="TextBox"/></div>
</webobject><webobject name="IsLongText">
<div><b><webobject name="OptionName"/></b>:</div><div style="margin-bottom:0"><webobject name="TextArea"/></div>
</webobject>
<wo name="DescriptionContainer"><webobject name="Description"/></wo></webobject>
