<wo:if condition="$includePageWrapping"><!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<title><wo:str value="$title"/></title>
<wo name="DojoCss"/>
<wo name="DojoThemeCss"/>
<wo name="DojoxFileInputCss"/>
<wo:str escapeHTML="false" value="$theme.linkTags"/>
<wo:if condition="$doesPageSpecificStylesheetExist"><wo name="PageSpecificCss"/></wo:if>
<script type="text/javascript" src="<wo:WOResourceURL filename="dojo/dojo.js" />" djConfig="parseOnLoad: true"></script>
<script type="text/javascript" src="<wo:WOResourceURL filename="dojo/BasePage.js" />"></script>
<script type="text/javascript">
<wo:loop list="$extraRequiresArray" item="$oneExtraRequire">dojo.require("<wo:str value="$extraRequire" />");
</wo:loop>// <!-- END_REQUIRES -->
 dojo.require("dojox.form.FileInput");
dojo.addOnLoad(function() {
    dijit.setWaiRole(dojo.body(), "application");
// <!-- END_ON_LOAD -->
});
</script>
<wo:if condition="$doesPageSpecificJavascriptExist"><script type="text/javascript" src="<wo:WOResourceURL framework="$pageFramework" filename="$pageSpecificJavascriptPath" />"></script></wo:if>
</head>
<wo:WOGenericContainer elementName="body" class="$bodyCssClass">
<wo:WOComponentContent />
</wo:WOGenericContainer>
</html></wo:if><wo:else><wo:WOComponentContent/></wo:else>