<webobject name="Page">
<p>You are <span class="hl"><webobject name="UserName"/></span> registered in
the domain <span class="hl"><webobject name="DomainName"/></span>.</p>
<webobject name="Form1">
<table style="border: none;">
<tr><td class="R">First name:</td><td><webobject name="FirstName"/></td></tr>
<tr><td class="R">Last name:</td><td><webobject name="LastName"/></td></tr>
<tr><td class="R">E-mail:</td><td><webobject name="Email"/></td></tr>
<tr><td class="R">URL:</td><td><webobject name="URL"/></td></tr>
<webobject name="CanChangePassword">
<tr><td class="R">New password:</td>
    <td><webobject name="NewPassword1"/></td></tr>
<tr><td class="R">Confirm password:</td>
    <td><webobject name="NewPassword2"/></td></tr>
</webobject>
<tr><td></td>
    <td><webobject name="ApplyChanges"/></td></tr>
</table></webobject>

<h2>Time Formats</h2>
<webobject name="Form2"><table style="border: none;">
<tr><td class="R">Time zone:</td><td><webobject name="TimeZone"/></td></tr>
<tr><td class="R">Format:</td><td><webobject name="DateFormat"/>
  <webobject name="TimeFormat"/></td></tr>
<tr><td></td>
    <td><webobject name="ApplyTimeFormats"/></td></tr>
</table></webobject>

<h2>Courses</h2>
<webobject name="EnrolledInCourses">
<p>You are currently <b>enrolled in</b> these courses:</p>
<div class="shadow"><table><tbody><tr><th>Course</th><th>Name</th><th>Instructor</th></tr>
<webobject name="EnrollmentRepetition">
<webobject name="TR">
<td><webobject name="CompactName"/></td>
<td><webobject name="CourseName"/></td>
<td><webobject name="InstructorRepetition"><webobject name="InstructorName"/>
</webobject></td>
</webobject></webobject></tbody></table></div><div class="spacer">&nbsp;</div>
</webobject><webobject name="NotEnrolledInCourses">
<p>You are not currently <b>enrolled in</b> any courses.</p>
</webobject>
<webobject name="CanTA">
<webobject name="TAInCourses">
<p>You are a <b>TA</b> for these courses:</p>
<div class="shadow"><table><tbody><tr><th>Course</th><th>Name</th><th>Instructor</th></tr>
<webobject name="TARepetition">
<webobject name="TR">
<td><webobject name="CompactName"/></td>
<td><webobject name="CourseName"/></td>
<td><webobject name="InstructorRepetition"><webobject name="InstructorName"/>
</webobject></td>
</webobject></webobject></tbody></table></div><div class="spacer">&nbsp;</div>
</webobject><webobject name="NotTAInCourses">
<p>You are not currently registered as the <b>TA</b> for any courses.</p>
</webobject></webobject>
<webobject name="CanTeach">
<webobject name="TeachingCourses">
<p>You are an <b>instructor</b> for these courses:</p>
<div class="shadow"><table><tbody><tr><th>Course</th><th>Name</th><th>Instructor</th></tr>
<webobject name="TeachingRepetition">
<webobject name="TR">
<td><webobject name="CompactName"/></td>
<td><webobject name="CourseName"/></td>
<td><webobject name="InstructorRepetition"><webobject name="InstructorName"/>
</webobject></td>
</webobject></webobject></tbody></table></div>
</webobject><webobject name="NotTeachingCourses">
<p>You are not currently registered as the <b>instructor</b> for any courses.</p>
</webobject></webobject>
</webobject>