<wo:net.sf.webcat.core.WCPageWithNavigation title="Your Web-CAT Status">

<wo:net.sf.webcat.core.SubsystemFragmentCollector fragmentKey="homeStatus"/>

<wo:if condition="$application.properties.coreAnnouncements">
<wo:net.sf.webcat.core.WCPageModule title="Announcements" open="false">
<wo:str value="$application.properties.coreAnnouncements" escapeHTML="false"/>
</wo:net.sf.webcat.core.WCPageModule>
</wo:if>

<wo:net.sf.webcat.core.SystemStatusBlock/>
</wo:net.sf.webcat.core.PageWithNavigation>
