{
    attributes = (
        {
            columnName = CDEFAULTEMAILDOMAIN; 
            name = defaultEmailDomain; 
            prototypeName = tinyText; 
        }, 
        {
        	columnName = CDEFAULTURLPATTERN;
        	name = defaultURLPattern;
        	prototypeName = tinyText;
       	},
        {
            columnName = CDISPLAYABLENAME; 
            name = displayableName; 
            prototypeName = tinyText; 
        }, 
        {name = id; prototypeName = id; }, 
        {columnName = CPROPERTYNAME; name = propertyName; prototypeName = tinyText; }, 
        {columnName = CTIMEZONENAME; name = timeZoneName; prototypeName = tinyText; },
        {columnName = CTIMEFORMAT; name = timeFormat; prototypeName = tinyText; },
        {columnName = CDATEFORMAT; name = dateFormat; prototypeName = tinyText; }
    ); 
    attributesUsedForLocking = (
        dateFormat,
        displayableName,
        defaultEmailDomain,
        defaultURLPattern,
        propertyName,
        timeFormat,
        timeZoneName
    ); 
    className = net.sf.webcat.core.AuthenticationDomain; 
    classProperties = (
        dateFormat,
        displayableName,
        defaultEmailDomain,
        defaultURLPattern,
        propertyName,
        timeFormat,
        timeZoneName
    ); 
    externalName = TAUTHENTICATIONDOMAIN; 
    name = AuthenticationDomain; 
    primaryKeyAttributes = (id); 
    relationships = (); 
}
