{
    attributes = (
        {
            columnName = CDEFAULTEMAILDOMAIN; 
            name = defaultEmailDomain; 
            prototypeName = tinyText; 
        }, 
        {name = defaultURLPattern; prototypeName = tinyText; }, 
        {
            columnName = CDISPLAYABLENAME; 
            name = displayableName; 
            prototypeName = tinyText; 
        }, 
        {name = id; prototypeName = id; }, 
        {columnName = CPROPERTYNAME; name = propertyName; prototypeName = tinyText; }, 
        {columnName = CTIMEZONENAME; name = timeZoneName; prototypeName = tinyText; }
    ); 
    attributesUsedForLocking = (
        propertyName, 
        displayableName, 
        defaultEmailDomain, 
        timeZoneName, 
        defaultURLPattern
    ); 
    className = net.sf.webcat.core.AuthenticationDomain; 
    classProperties = (
        propertyName, 
        displayableName, 
        defaultEmailDomain, 
        timeZoneName, 
        defaultURLPattern
    ); 
    externalName = TAUTHENTICATIONDOMAIN; 
    name = AuthenticationDomain; 
    primaryKeyAttributes = (id); 
    relationships = (); 
}
