{
    attributes = (
        {columnName = CDEPARTMENTID; name = departmentId; prototypeName = foreignId; }, 
        {name = id; prototypeName = id; }, 
        {allowsNull = N; columnName = CNAME; name = name; prototypeName = tinyText; }, 
        {
            columnName = CNUMBER; 
            externalType = SMALLINT; 
            name = number; 
            userInfo = {
                scalarConversionMethodName = intValue; 
                isScalar = true;
                scalarDefault = 0;
                type = int;
                valueClassName = Integer;
            }; 
            valueClassName = NSNumber; 
            valueType = i; 
        }
    ); 
    attributesUsedForLocking = (
        name,
        number,
        departmentId
    ); 
    className = net.sf.webcat.core.Course; 
    classProperties = (
        name,
        number,
        departmentId,
        department,
        offerings
    ); 
    externalName = TCOURSE; 
    fetchSpecificationDictionary = {}; 
    name = Course; 
    primaryKeyAttributes = (id); 
    relationships = (
        {
            destination = Department; 
            isToMany = N; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = id; sourceAttribute = departmentId; }); 
            name = department; 
        }, 
        {
            destination = CourseOffering; 
            isToMany = Y; 
            joinSemantic = EOInnerJoin; 
            joins = ({destinationAttribute = courseId; sourceAttribute = id; }); 
            name = offerings; 
        }
    ); 
}
