<webobject name="Page">
<table class="FullBox">
<tr><td id="logo">
  <h1>Web-CAT</h1>
  <p><webobject name="Logo"/></p>
  <p><b>Automatic Grading Using Student-written Tests</b></p>
</td><td id="foo">
<h1 id="title">Unexpected Exception</h3>
<p>
An unexpected exception has occured while trying to process your request.
The details of the exception have been e-mailed to the Web-CAT
administrator.
</p>
<p>
After returning to your Web-CAT home page, you can continue to work.
If you continnue to experience problems, you should logout.
</p>
<webobject name="MyForm">
<center><webobject name="SubmitButton"/><webobject name="IsLoggedIn"> <webobject name="LogoutButton"/></webobject></center>
</webobject>
</td></tr></table>
<webobject name="Footer"/>
</webobject>
