<wo:WCDiv dojoType="dijit.form.DropDownButton" id="$idFor.navigatorButton">
<span>Change Course</span>
<wo:WCDiv dojoType="dijit.TooltipDialog" title="Choose Course">
<wo:WCForm>
<fieldset class="course">
<legend>Selected Course</legend>
<ol>
<li><wo:WOGenericContainer elementName="label" for="$idFor.semesterSelector">Show semester:</wo:WOGenericContainer>
<wo name="SemesterFilter">
    <wo:WCConnectAction event="onChange" action="$updateCourseOfferings" remote.refreshPanes="$idFor.coursePane"/>
</wo>
</li>
<li>
<wo:WCContentPane id="$idFor.coursePane">
<wo:WOGenericContainer elementName="label" for="$idFor.courseSelector">Course offering:</wo:WOGenericContainer>
<wo name="CourseFilter"/>
</wo:WCContentPane>
</li>
<wo:if condition="$user.hasTAPrivileges">
<li><wo:WOGenericContainer elementName="label" for="$idFor.includeWhatImTeachingCheckbox">Include:</wo:WOGenericContainer>
<wo name="IncludeWhatImTeaching">
    <wo:WCConnectAction event="onChange" action="$updateCourseOfferings" remote.refreshPanes="$idFor.coursePane"/>
</wo>
<wo:WOGenericContainer elementName="label" for="$idFor.includeWhatImTeachingCheckbox" class="trailing">what I'm teaching</wo:WOGenericContainer>
</li>
</wo:if>
<wo:if condition="$user.hasAdminPrivileges">
<li><wo:WOGenericContainer elementName="label" for="$idFor.includeAdminAccessCheckbox">Include:</wo:WOGenericContainer>
<wo name="IncludeAdminAccess">
    <wo:WCConnectAction event="onChange" action="$updateCourseOfferings" remote.refreshPanes="$idFor.coursePane"/>
</wo>
<wo:WOGenericContainer elementName="label" for="$idFor.includeAdminAccessCheckbox" class="trailing">admin access</wo:WOGenericContainer>
</li>
</wo:if>
</ol></fieldset>
<div class="center">
<wo name="OK">OK</wo>
<wo:if negate="true" condition="$startOpen"><wo name="Cancel">Cancel</wo></wo:if>
</div>
</wo:WCForm>
</wo:WCDiv>
</wo:WCDiv><wo:if condition="$startOpen">
<script type="text/javascript">
dojo.addOnLoad(function() { dijit.byId("<wo:str value="$idFor.navigatorButton"/>")._openDropDown(); });
</script></wo:if>