<webobject name="HasErrors"><webobject name="ShowNewLineAbove"><div class="spacer">&nbsp;</div></webobject>
<div class="NoticePanel<webobject name="DictionaryCssClass"></webobject>"><b class="top"><b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b></b><div class="boxcontent">
<ul>
<webobject name="DictionaryRepetition">
<li class="<webobject name="ErrorMessageCssClass"></webobject>"><webobject name="Message"/></li>
</webobject>
<webobject name="HasExtraMessage"><li class="warning"><webobject name="ExtraMessage"/></li></webobject>
</ul>
</div><b class="bottom"><b class="b4b"></b><b class="b3b"></b><b class="b2b"></b><b class="b1b"></b></b></div>
<webobject name="ShowNewLineBelow"><div class="spacer">&nbsp;</div></webobject></webobject>