<webobject name="HasErrors"><webobject name="ShowNewLineAbove"><div class="spacer">&nbsp;</div></webobject>
<table class="ErrorDictionaryPanel">
  <webobject name="DictionaryRepetition">
  <tr><td valign="top"><webobject name="Caution"/>&nbsp;</td>
    <td><webobject name="Message"/></td></tr>
  </webobject>
  <webobject name="HasExtraMessage">
  <tr><td valign="top"><webobject name="Caution"/>&nbsp;</td>
    <td><webobject name="ExtraMessage"/></td></tr>
  </webobject>
</table>
<webobject name="ShowNewLineBelow"><div class="spacer">&nbsp;</div></webobject></webobject>