<webobject name="BarePage">
<webobject name="IncludePageWrapping"><div id="banner">
  <div id="tools">
   <webobject name="HelpLink">help</webobject>&nbsp;<webobject name="HelpBtn"/>&nbsp;&nbsp;&nbsp;<webobject name="FeedbackLink">feedback</webobject>&nbsp;<webobject name="FeedbackBtn"/>&nbsp;&nbsp;&nbsp;<webobject name="LogoutLink">logout</webobject>&nbsp;<webobject name="LogoutBtn"/></a>
  </div>
  <webobject name="Logo"/>&nbsp;&nbsp;Web-CAT: Automatic grading using student-written tests<br/>
  <ul id="globalnav">
    <li class="globalnav-indent">&nbsp;</li>
    <webobject name="PrimaryTabs">
    <li class="<webobject name="PrimaryTabClass"></webobject>"><webobject name="PrimaryTabLink"><webobject name="PrimaryTabLabel"/></webobject></li>
    </webobject>
  </ul>
  <ul id="globalsubnav"><webobject name="HasSecondTabs">
    <webobject name="SecondaryTabs">
    <li class="<webobject name="SecondaryTabClass"></webobject>"><webobject name="SecondaryTabLink"><webobject name="SecondaryTabLabel"/></webobject></li>
    </webobject>
    </webobject><webobject name="NoSecondTabs"><li>&nbsp;</li></webobject>
    <li class="uid"><webobject name="UserName"/></li>
  </ul>
</div>
<div id="page"><div id="contents"<webobject name="NoMenu"> class="nomenu"</webobject>></webobject>
<webobject name="OmitPageWrapping"><div id="page"><div id="contents" class="nomenu"></webobject>
<webobject name="HasTitle"><h1 id="title"><webobject name="Title"/></h1></webobject>
<webobject name="DeathIsScheduled"><table class="ErrorDictionaryPanel">
  <tr><td valign="top"><webobject name="Critical"/></td>
    <td><span class="hl">Immediate shutdown:</span> Web-CAT will be
    going off-line at <webobject name="DeathTime"/>.  Save your work and
    logout.</td></tr>
</table>
</webobject>
<webobject name="Errors"/><webobject name="PageContent"/></div><webobject name="IncludePageWrapping"><webobject name="HasMenu">
<div id="menu"><p class="header"><webobject name="MenuHeader"/></p><ul>
<webobject name="Steps">
<li<webobject name="StepIsSelected"> class="here"</webobject>><p><webobject name="StepUsesLink"><webobject name="StepLink">Step <webobject name="StepNumber"/></webobject></webobject><webobject name="StepWithoutLink">Step <webobject name="StepNumber"/></webobject></p>
    <ul><li><webobject name="StepLabel"/><webobject name="IsSideStep"><br/><b>Side step: <webobject name="SideStepTitle"/></b></webobject></li></ul>
</li>
</webobject></ul></div>
</webobject></webobject><div class="spacer">&nbsp;</div></div><webobject name="IncludePageWrapping"><webobject name="Footer"/></webobject></webobject>
