<wo:WCStylesheetFragment filename="webcat/themes/Table.css"/>

<wo name="Proxy" />
<wo:content/>
<div style="display: inline">
<wo:if condition="$filters.count">
    <wo:WCDiv dojoType="dijit.form.DropDownButton">
	    <span>Filter...</span>
	    <wo:WCDiv dojoType="dijit.TooltipDialog" id="$idFor.filterDialog" style="display: none">
	    <wo:WCForm>
	        <fieldset class="course">
	        <legend>Filters</legend>
	        <ol>
	        <wo:loop list="$filters" item="$filterInRepetition" index="$filterIndexInRepetition">
	            <li>
				    <wo:WCCheckBox checked="$currentFilterIsEnabled" id="$idForCurrentFilterEnabledCheckbox">
				        <script type="dojo/method" event="onClick" args="evt">
				            <wo:str value="$idFor.jsId"/>.changeFilter("<wo:str value="$filterInRepetition.keyPath"/>", { enabled: this.checked });
				        </script>
				    </wo:WCCheckBox>
	                <wo:str value="$filterInRepetition.name"/>
	                <wo:ERXWOSwitch case="$filterInRepetition.type">
	                    <wo:ERXWOCase case="string">
						    <wo:WCSpan dojoType="dijit.form.DropDownButton" id="$idForCurrentFilterComparisonButton" label="$currentFilterComparison">
						        <wo:WCDiv dojoType="dijit.Menu">
						            <wo:WCMenuItem label="is"><script type="dojo/method" event="onClick" args="evt">dijit.byId("<wo:str value="$idForCurrentFilterComparisonButton"/>").setLabel(this.label); <wo:str value="$idFor.jsId"/>.changeFilter("<wo:str value="$filterInRepetition.keyPath"/>", { relation: this.label });</script></wo:WCMenuItem>
						            <wo:WCMenuItem label="is not"><script type="dojo/method" event="onClick" args="evt">dijit.byId("<wo:str value="$idForCurrentFilterComparisonButton"/>").setLabel(this.label); <wo:str value="$idFor.jsId"/>.changeFilter("<wo:str value="$filterInRepetition.keyPath"/>", { relation: this.label });</script></wo:WCMenuItem>
						            <wo:WCMenuItem label="starts with"><script type="dojo/method" event="onClick" args="evt">dijit.byId("<wo:str value="$idForCurrentFilterComparisonButton"/>").setLabel(this.label); <wo:str value="$idFor.jsId"/>.changeFilter("<wo:str value="$filterInRepetition.keyPath"/>", { relation: this.label });</script></wo:WCMenuItem>
						            <wo:WCMenuItem label="ends with"><script type="dojo/method" event="onClick" args="evt">dijit.byId("<wo:str value="$idForCurrentFilterComparisonButton"/>").setLabel(this.label); <wo:str value="$idFor.jsId"/>.changeFilter("<wo:str value="$filterInRepetition.keyPath"/>", { relation: this.label });</script></wo:WCMenuItem>
						            <wo:WCMenuItem label="contains"><script type="dojo/method" event="onClick" args="evt">dijit.byId("<wo:str value="$idForCurrentFilterComparisonButton"/>").setLabel(this.label); <wo:str value="$idFor.jsId"/>.changeFilter("<wo:str value="$filterInRepetition.keyPath"/>", { relation: this.label });</script></wo:WCMenuItem>
						        </wo:WCDiv>
						    </wo:WCSpan>
						    <wo:WCTextBox id="$idForCurrentFilterValueWidget" value="$currentFilterValue" length="20">
						        <script type="dojo/method" event="onKeyPress" args="evt">
						            <wo:str value="$idFor.jsId"/>.startFilterValueUpdateTimer("<wo:str value="$filterInRepetition.keyPath"/>", this, evt, "<wo:str value="$idFor.jsId"/>");
						        </script>
						    </wo:WCTextBox>
	                    </wo:ERXWOCase>
	                </wo:ERXWOSwitch>
	            </li>
	        </wo:loop>
	        </ol>
	        </fieldset>
	    </wo:WCForm>
	    </wo:WCDiv>
    </wo:WCDiv>
</wo:if>
</div>

<wo name="ContentPane">
<wo:if condition="$isBatched">
<div dojoType="dijit.Toolbar">
<wo name="GoToBeginning">
    <script type="dojo/method" event="onClick" args="evt">
        <wo:str value="$idFor.jsId"/>.goToFirstBatch();
    </script>
</wo>
<wo name="GoBack">
    <script type="dojo/method" event="onClick" args="evt">
        <wo:str value="$idFor.jsId"/>.goToPreviousBatch();
    </script>
</wo>
<wo:WCSpan dojoType="dijit.ToolbarSeparator"/>
<span>
<wo:WCSpan dojoType="dijit.form.DropDownButton" label="~'Show ' + ((batchSize == -1) ? 'all' : batchSize) + ' items'">
	<wo:WCDiv dojoType="dijit.Menu">
		<wo:WCMenuItem label="5"><script type="dojo/method" event="onClick" args="evt"><wo:str value="$idFor.jsId"/>.changeBatchSize(5);</script></wo:WCMenuItem>
		<wo:WCMenuItem label="10"><script type="dojo/method" event="onClick" args="evt"><wo:str value="$idFor.jsId"/>.changeBatchSize(10);</script></wo:WCMenuItem>
		<wo:WCMenuItem label="15"><script type="dojo/method" event="onClick" args="evt"><wo:str value="$idFor.jsId"/>.changeBatchSize(15);</script></wo:WCMenuItem>
		<wo:WCMenuItem label="20"><script type="dojo/method" event="onClick" args="evt"><wo:str value="$idFor.jsId"/>.changeBatchSize(20);</script></wo:WCMenuItem>
		<wo:WCMenuItem label="25"><script type="dojo/method" event="onClick" args="evt"><wo:str value="$idFor.jsId"/>.changeBatchSize(25);</script></wo:WCMenuItem>
		<wo:WCMenuItem label="50"><script type="dojo/method" event="onClick" args="evt"><wo:str value="$idFor.jsId"/>.changeBatchSize(50);</script></wo:WCMenuItem>
		<wo:WCMenuItem label="100"><script type="dojo/method" event="onClick" args="evt"><wo:str value="$idFor.jsId"/>.changeBatchSize(100);</script></wo:WCMenuItem>
		<wo:WCMenuItem label="all"><script type="dojo/method" event="onClick" args="evt"><wo:str value="$idFor.jsId"/>.changeBatchSize(-1);</script></wo:WCMenuItem>
	</wo:WCDiv>
</wo:WCSpan>
</span>
<wo:WCSpan dojoType="dijit.ToolbarSeparator"/>
<span>Displaying <wo:str value="$displayGroup.indexOfFirstDisplayedObject"/>&ndash;<wo:str value="$displayGroup.indexOfLastDisplayedObject"/> of <wo:str value="$displayGroup.allObjects.count"/></span>
<wo:WCSpan dojoType="dijit.ToolbarSeparator"/>
<wo name="GoNext">
    <script type="dojo/method" event="onClick" args="evt">
        <wo:str value="$idFor.jsId"/>.goToNextBatch();
    </script>
</wo>
<wo name="GoToEnd">
    <script type="dojo/method" event="onClick" args="evt">
        <wo:str value="$idFor.jsId"/>.goToLastBatch();
    </script>
</wo>
</div>
</wo:if>
<wo:WCStyledTable>
	<thead>
		<tr>
			<wo:if condition="$showsRowNumbers">
				<th>#</th>
			</wo:if>
			<wo:if condition="$allowsSelection">
				<th><wo:if condition="$multipleSelection">
						<wo:WCCheckBox id="$idFor.allSelectionState" checked="$isEntireBatchSelected">
							<script type="dojo/method" event="onClick" args="evt">
								<wo:str value="$idFor.jsId"/>.selectAllObjectsInBatch(this.checked);
							</script>
						</wo:WCCheckBox>
				</wo:if><wo:else>&nbsp;</wo:else></th>
			</wo:if>
			<wo name="Columns">
				<th>
					<wo:if condition="$canSort">
                        <wo:if condition="$columnInRepetitionCanBeSorted">
							<wo name="SortLink">
								<wo:str value="$columnInRepetition.name"/>
								<wo:if condition="$columnInRepetitionIsSorted">
									<wo:if condition="$columnInRepetitionIsAscending">
										<wo:WOImage filename="webcat/themes/images/Ascending.gif" />
									</wo:if><wo:else>
										<wo:WOImage filename="webcat/themes/images/Descending.gif" />
									</wo:else>
								</wo:if><wo:else>
									<wo:WOImage filename="webcat/themes/images/Unsorted.gif" />
								</wo:else>
							</wo>
				        </wo:if><wo:else>
                            <wo:str value="$columnInRepetition.name"/>
				        </wo:else>
					</wo:if><wo:else>
						<wo:str value="$columnInRepetition.name"/>
					</wo:else>
				</th>
			</wo>
		</tr>
	</thead>
	<tbody>
		<wo name="Rows">
		<wo:WOGenericContainer elementName="tr" class="$cssClassOfRowInRepetition">
			<wo:if condition="$showsRowNumbers">
				<td><wo:str value="$actualRowNumber"/></td>
			</wo:if>
			<wo:if condition="$allowsSelection">
				<td>
					<wo:if condition="$multipleSelection">
						<wo:WCCheckBox name="$idFor.selectionState" checked="$isRowInRepetitionSelected">
							<script type="dojo/method" event="onClick" args="evt">
								<wo:str value="$idFor.jsId"/>.selectObjectAtIndexInBatch(<wo:str value="$indexInRepetition"/>, this.checked);
							</script>
						</wo:WCCheckBox>
					</wo:if><wo:else>
						<wo:WCRadioButton name="$idFor.selectionState" checked="$isRowInRepetitionSelected">
							<script type="dojo/method" event="onClick" args="evt">
								<wo:str value="$idFor.jsId"/>.selectObjectAtIndexInBatch(<wo:str value="$indexInRepetition"/>, this.checked);
							</script>
						</wo:WCRadioButton>
					</wo:else>
				</td>
			</wo:if>
			<wo name="Columns">
				<td><wo name="ColumnValue"/></td>
			</wo>
		</wo:WOGenericContainer>
		</wo>
	</tbody>
</wo:WCStyledTable>
<script type="dojo/method" event="onDownloadEnd">
    <wo:str value="$idFor.jsId"/>.recacheCheckboxWidgets();
</script>
</wo>
<wo name="TableInstance"/>
