<wo:WCPageWithNavigation>

<wo:WCPageModule title="Typography">

<p>This page presents most of typographical aspects of the new
Web-CAT theme.</p>

<h1>This is a Heading 1</h1>
<p>This is plain text, this is <b>bold</b>, <strong>strong</strong>,
<em>emphasized</em>, <i>italic</i>, and <u>underlined</u>.
This is <a href="">a hypertext link</a>.
Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

<h2>This is a Heading 2</h2>
<p>Wisi sed pede Phasellus Vestibulum elit consequat consequat eu
pellentesque metus. Laoreet Vestibulum pharetra pede mattis nunc
dapibus id magna a dictumst.</p>

<p>This is a <span class="hl">highlight phrase</span>. Use <strong>&lt;span class="hl"&gt;Your highlight phrase goes here!&lt;/span&gt;</strong>.</p>

<p>Announcements use a "date" CSS class to set off the announcement date.</p>
<ul>
<li><p><span class="date">[2008-10-16]</span>
If youre are <b>new to Web-CAT</b>, you might want to watch this <a href="http://web-cat.cs.vt.edu/WCWiki/SubmissionWalkthrough">movie of making a submission</a>, which also explains how to interpret results.</p>
</li></ul>

<p>Here is some <span class="check">green text</span> and some
<span class="warn">red text</span>.</p>


</wo:WCPageModule>

<!-- ====================================================================== -->
<wo:WCPageModule title="Bootstrap" open="false">


<p>Some bootstrap classes:</p>
<ul>
 <li>Text that is <span class="mark">marked</span> (or <mark>marked</mark>).</li>
 <li>Text that is <span class="small">small</span> (or <small>small</small>).</li>
 <li>Labels:
<span class="label label-primary">Primary</span>
<span class="label label-secondary">Secondary</span>
<span class="label label-success">Success</span>
<span class="label label-info">Info</span>
<span class="label label-warning">Warning</span>
<span class="label label-danger">Danger</span></li>
 <li>Badges: <span class="badge badge-primary">Primary</span>
<span class="badge badge-secondary">Secondary</span>
<span class="badge badge-success">Success</span>
<span class="badge badge-danger">Danger</span>
<span class="badge badge-warning">Warning</span>
<span class="badge badge-info">Info</span>
<span class="badge badge-light">Light</span>
<span class="badge badge-dark">Dark</span></li>
  <li>Pill badges: <span class="badge badge-pill badge-primary">Primary</span>
<span class="badge badge-pill badge-secondary">Secondary</span>
<span class="badge badge-pill badge-success">Success</span>
<span class="badge badge-pill badge-danger">Danger</span>
<span class="badge badge-pill badge-warning">Warning</span>
<span class="badge badge-pill badge-info">Info</span>
<span class="badge badge-pill badge-light">Light</span>
<span class="badge badge-pill badge-dark">Dark</span></li>
</ul>

<p>Buttons:</p>
<p><button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-secondary">Secondary</button>
<button type="button" class="btn btn-success">Success</button>
<button type="button" class="btn btn-danger">Danger</button>
<button type="button" class="btn btn-warning">Warning</button>
<button type="button" class="btn btn-info">Info</button>
<button type="button" class="btn btn-light">Light</button>
<button type="button" class="btn btn-dark">Dark</button>
<button type="button" class="btn btn-link">Link</button></p>

<p>Text colors:</p>
<p class="text-primary">.text-primary</p>
<p class="text-secondary">.text-secondary</p>
<p class="text-success">.text-success</p>
<p class="text-danger">.text-danger</p>
<p class="text-warning">.text-warning</p>
<p class="text-info">.text-info</p>
<p class="text-light bg-dark">.text-light</p>
<p class="text-dark">.text-dark</p>
<p class="text-muted">.text-muted</p>
<p class="text-white bg-dark">.text-white</p>

<p>Link colors:</p>
<p><a href="#" class="text-primary">Primary link</a></p>
<p><a href="#" class="text-secondary">Secondary link</a></p>
<p><a href="#" class="text-success">Success link</a></p>
<p><a href="#" class="text-danger">Danger link</a></p>
<p><a href="#" class="text-warning">Warning link</a></p>
<p><a href="#" class="text-info">Info link</a></p>
<p><a href="#" class="text-light bg-dark">Light link</a></p>
<p><a href="#" class="text-dark">Dark link</a></p>
<p><a href="#" class="text-muted">Muted link</a></p>
<p><a href="#" class="text-white bg-dark">White link</a></p>

<p>Background colors:</p>
<div class="p-3 mb-2 bg-primary text-white">.bg-primary</div>
<div class="p-3 mb-2 bg-secondary text-white">.bg-secondary</div>
<div class="p-3 mb-2 bg-success text-white">.bg-success</div>
<div class="p-3 mb-2 bg-danger text-white">.bg-danger</div>
<div class="p-3 mb-2 bg-warning text-dark">.bg-warning</div>
<div class="p-3 mb-2 bg-info text-white">.bg-info</div>
<div class="p-3 mb-2 bg-light text-dark">.bg-light</div>
<div class="p-3 mb-2 bg-dark text-white">.bg-dark</div>
<div class="p-3 mb-2 bg-white text-dark">.bg-white</div>

<p>Alerts:</p>
<div class="alert alert-primary" role="alert">
  This is a primary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div class="alert alert-secondary" role="alert">
  This is a secondary alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div class="alert alert-success" role="alert">
  This is a success alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div class="alert alert-danger" role="alert">
  This is a danger alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div class="alert alert-warning" role="alert">
  This is a warning alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div class="alert alert-info" role="alert">
  This is a info alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div class="alert alert-light" role="alert">
  This is a light alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div class="alert alert-dark" role="alert">
  This is a dark alert with <a href="#" class="alert-link">an example link</a>. Give it a click if you like.
</div>
<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Well done!</h4>
  <p>Aww yeah, you successfully read this important alert message. This example text is going to run a bit longer so that you can see how spacing within an alert works with this kind of content.</p>
  <hr>
  <p class="mb-0">Whenever you need to, be sure to use margin utilities to keep things nice and tidy.</p>
</div>

<p>Progress  bars:</p>
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: 30%" aria-valuenow="30" aria-valuemin="0" aria-valuemax="100"></div>
  <div class="progress-bar bg-danger" role="progressbar" style="width: 20%" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-striped" role="progressbar" style="width: 10%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="progress">
  <div class="progress-bar progress-bar-striped bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
</div>

<div class="progress">
  <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%"></div>
</div>

<p>Breadcrumbs:</p>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item active" aria-current="page">Home</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">Library</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>

</wo:WCPageModule>

<!-- ====================================================================== -->
<wo:WCPageModule title="Headings" open="false">

<h1>This is a Heading 1</h1>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

<h2>This is a Heading 2</h2>
<p>Wisi sed pede Phasellus Vestibulum elit consequat consequat eu
pellentesque metus. Laoreet Vestibulum pharetra pede mattis nunc
dapibus id magna a dictumst.</p>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

<h3>This is a Heading 3</h3>
<p>Wisi sed pede Phasellus Vestibulum elit consequat consequat eu
pellentesque metus. Laoreet Vestibulum pharetra pede mattis nunc
dapibus id magna a dictumst. Nunc cursus sem et pretium sapien eget
consectetuer malesuada Phasellus Curabitur.</p>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

<h4>This is a Heading 4</h4>
<p>Wisi sed pede Phasellus Vestibulum elit consequat consequat eu
pellentesque metus. Laoreet Vestibulum pharetra pede mattis nunc
dapibus id magna a dictumst. Nunc cursus sem et pretium sapien eget
consectetuer malesuada Phasellus Curabitur.</p>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

<h5>This is a Heading 5</h5>
<p>Wisi sed pede Phasellus Vestibulum elit consequat consequat eu
pellentesque metus. Laoreet Vestibulum pharetra pede mattis nunc
dapibus id magna a dictumst. Nunc cursus sem et pretium sapien eget
consectetuer malesuada Phasellus Curabitur.</p>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

<h6>This is a Heading 6</h6>
<p>Wisi sed pede Phasellus Vestibulum elit consequat consequat eu
pellentesque metus. Laoreet Vestibulum pharetra pede mattis nunc
dapibus id magna a dictumst. Nunc cursus sem et pretium sapien eget
consectetuer malesuada Phasellus Curabitur.</p>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

</wo:WCPageModule>

<!-- ====================================================================== -->
<wo:WCPageModule title="Notice Panels" open="false">

<ul class="NoticePanel error" style="margin-bottom: 1.5em;">
<li class="error">This is a sample error message.</li>
<li class="warning">This is a sample warning message.</li>
<li class="info">This is a sample information message.</li>
<li class="check">This is a sample confirmation message.</li>
</ul>

<ul class="NoticePanel error" style="margin-bottom: 1.5em;">
<li>This is a sample error message in an error notice panel.  The type of
    panel used when there are multiple messages is usually determined by
    the most severe message in the panel.</li>
</ul>

<ul class="NoticePanel warning" style="margin-bottom: 1.5em;">
<li class="warning">This is a sample warning message.</li>
</ul>

<ul class="NoticePanel info" style="margin-bottom: 1.5em;">
<li class="info">This is a sample info message.</li>
</ul>

<ul class="NoticePanel check">
<li class="check">This is a sample confirmation message.</li>
</ul>

<blockquote>This is a sample Blockquote. Use <strong>&lt;blockquote&gt;Your quote goes here!&lt;/blockquote&gt;</strong> to form a quote!</blockquote>

</wo:WCPageModule>

<!-- ====================================================================== -->
<wo:WCPageModule title="Lists" open="false">

<ol>
<li>This is a sample <strong>Ordered List</strong>.</li>
<li>Lorem ipsum dolor sit amet consectetuer.</li>
<li>Condimentum quis.</li>
<li>Congue Quisque augue elit dolor nibh.</li>
</ol>

<ul>
<li>This is a sample <strong>Unordered List</strong>.</li>
<li>Condimentum quis.</li>
<li>Congue Quisque augue elit dolor.</li>
<li>Nunc cursus sem et pretium sapien eget.</li>
</ul>

<ul class="checklist">
<li>This is a sample <strong>Check list</strong>.</li>
<li>Dolor Curabitur Nam Nulla augue id.</li>
<li>Lorem et nunc congue pede auctor</li>
<li>Nunc cursus sem et pretium.</li>
</ul>

<ul class="stars">
<li>This is a sample <strong>Unordered list</strong>.</li>
<li>Dolor Curabitur Nam Nulla augue id iaculis.</li>
<li>Lorem et nunc congue pede auctor</li>
<li>Nunc cursus sem et pretium.</li>
</ul>

<ul class="arrow">
<li>This is a sample <strong>Unordered list</strong>.</li>
<li>Dolor Curabitur Nam Nulla augue id iaculis.</li>
<li>Lorem et nunc congue pede auctor</li>
<li>Nunc cursus sem et pretium.</li>
</ul>

<p class="blocknumber"><span class="bignumber">01</span>This is a sample
  block number. Use <strong>&lt;p class="blocknumber"&gt;&lt;span
  class="bignumber"&gt;01.&lt;/span&gt;Your content goes
  here!&lt;/p&gt;</strong> to form a block number!</p>

<p class="blocknumber"><span class="bignumber">02</span>This is a sample
  block number. Use <strong>&lt;p class="blocknumber"&gt;&lt;span
  class="bignumber"&gt;02.&lt;/span&gt;Your content goes
  here!&lt;/p&gt;</strong> to form a block number!</p>

<p class="blocknumber"><span class="bignumber">03</span>This is a sample
  block number. Use <strong>&lt;p class="blocknumber"&gt;&lt;span
  class="bignumber"&gt;03.&lt;/span&gt;Your content goes
  here!&lt;/p&gt;</strong> to form a block number!</p>

</wo:WCPageModule>

<!-- ====================================================================== -->
<wo:WCPageModule title="Code Displays" open="false">

<p>Below is a sample of <strong>&lt;pre&gt;</strong> or
  <strong>&lt;div class="code"&gt;</strong></p>
<pre>#ja-rightcol {
  width: 180px;
  float: right;
  color: #EEEEEE;
}
</pre>

</wo:WCPageModule>

<!-- ====================================================================== -->
<wo:WCPageModule title="Tables" open="false">
<p>This table has a &lt;thead&gt;:</p>
<table><thead>
<tr><th colspan="2">System Status</th></tr></thead><tbody>
<tr class="o">
  <td>Up since</td><td class="n">10/17/08 04:03AM</td>
</tr><tr class="e">
  <td>Next scheduled down time</td><td class="n">4:00AM</td>
</tr><tr class="o">
  <td>Current users</td><td class="n">16</td>
</tr>
<tr class="e">
  <td>Queued jobs</td><td class="n">0</td>
</tr>
<tr class="o caution">
  <td>odd caution line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="e caution">
  <td>even caution line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="o selected">
  <td>odd selected line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="e selected">
  <td>even selected line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="o error">
  <td>odd error line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="e error">
  <td>even error line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="o caution selected">
  <td>odd selected/caution line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="e caution selected">
  <td>even selected/caution line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="o error selected">
  <td>odd selected/error line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="e error selected">
  <td>even selected/error line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="o caution error selected">
  <td>odd selected/caution/error line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
<tr class="e caution error selected">
  <td>even selected/caution/error line
    <span class="caution">(caution)</span>
    <span class="selected">(selected)</span>
    <span class="error">(error)</span></td><td class="n">0</td>
</tr>
</tbody></table>

<p>This table does not:</p>
<table>
<tr><th colspan="2">System Status</th></tr><tbody>
<tr class="o">
  <td>Up since</td><td class="n">10/17/08 04:03AM</td>
</tr><tr class="e">
  <td>Next scheduled down time</td><td class="n">4:00AM</td>
</tr><tr class="o">
  <td>Current users</td><td class="n">16</td>
</tr>
<tr class="e">
  <td>Queued jobs</td><td class="n">0</td>
</tr></tbody></table>


<p>This table has a link in the header:</p>
<table><thead>
<tr><th colspan="2"><a href="">System Status</a></th></tr></thead><tbody>
<tr class="o">
  <td>Up since</td><td class="n">10/17/08 04:03AM</td>
</tr><tr class="e">
  <td>Next scheduled down time</td><td class="n">4:00AM</td>
</tr><tr class="o">
  <td>Current users</td><td class="n">16</td>
</tr>
<tr class="e">
  <td>Queued jobs</td><td class="n">0</td>
</tr></tbody></table>

</wo:WCPageModule>

</wo:WCPageWithNavigation>
