<wo:net.sf.webcat.core.WCPageWithNavigation>

<div class="module">
<div dojoType="dijit.TitlePane" title="Announcements" open="true">

<p>This page presents most of typographical aspects of the new
Web-CAT theme.</p>

<h1>This is a Heading 1</h1>
<p>This is plain text, this is <b>bold</b>, <strong>strong</strong>,
<em>emphasized</em>, <i>italic</i>, and <u>underlined</u>.
This is <a href="">a hypertext link</a>.
Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

<h2>This is a Heading 2</h2>
<p>Wisi sed pede Phasellus Vestibulum elit consequat consequat eu
pellentesque metus. Laoreet Vestibulum pharetra pede mattis nunc
dapibus id magna a dictumst.</p>

<p>This is a <span class="hl">highlight phrase</span>. Use <strong>&lt;span class="hl"&gt;Your highlight phrase goes here!&lt;/span&gt;</strong>.</p>

<p>Announcements use a "date" CSS class to set off the announcement date.</p>
<ul>
<li><p><span class="date">[2008-10-16]</span>
If youre are <b>new to Web-CAT</b>, you might want to watch this <a href="http://web-cat.cs.vt.edu/WCWiki/SubmissionWalkthrough">movie of making a submission</a>, which also explains how to interpret results.</p>
</li></ul>

<p>Here is some <span class="check">green text</span> and some
<span class="warn">red text</span>.</p>

</div></div>

<!-- ====================================================================== -->
<div class="module">
<div dojoType="dijit.TitlePane" title="Headings" open="false">

<h1>This is a Heading 1</h1>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

<h2>This is a Heading 2</h2>
<p>Wisi sed pede Phasellus Vestibulum elit consequat consequat eu
pellentesque metus. Laoreet Vestibulum pharetra pede mattis nunc
dapibus id magna a dictumst.</p>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

<h3>This is a Heading 3</h3>
<p>Wisi sed pede Phasellus Vestibulum elit consequat consequat eu
pellentesque metus. Laoreet Vestibulum pharetra pede mattis nunc
dapibus id magna a dictumst. Nunc cursus sem et pretium sapien eget
consectetuer malesuada Phasellus Curabitur.</p>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

<h4>This is a Heading 4</h4>
<p>Wisi sed pede Phasellus Vestibulum elit consequat consequat eu
pellentesque metus. Laoreet Vestibulum pharetra pede mattis nunc
dapibus id magna a dictumst. Nunc cursus sem et pretium sapien eget
consectetuer malesuada Phasellus Curabitur.</p>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

<h5>This is a Heading 5</h5>
<p>Wisi sed pede Phasellus Vestibulum elit consequat consequat eu
pellentesque metus. Laoreet Vestibulum pharetra pede mattis nunc
dapibus id magna a dictumst. Nunc cursus sem et pretium sapien eget
consectetuer malesuada Phasellus Curabitur.</p>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

<h6>This is a Heading 6</h6>
<p>Wisi sed pede Phasellus Vestibulum elit consequat consequat eu
pellentesque metus. Laoreet Vestibulum pharetra pede mattis nunc
dapibus id magna a dictumst. Nunc cursus sem et pretium sapien eget
consectetuer malesuada Phasellus Curabitur.</p>
<p>Lorem tortor Curabitur urna interdum Maecenas ut felis Sed euismod
id. Congue Quisque augue elit dolor nibh id lobortis egestas tristique
fringilla. Laoreet elit.</p>

</div></div>

<!-- ====================================================================== -->
<div class="module">
<div dojoType="dijit.TitlePane" title="Notice Panels" open="false">

<p class="error">This is a sample error message. Use <strong>&lt;p class="error"&gt;Your error message goes here!&lt;/p&gt;</strong>.</p>

<p class="message">This is a sample info message. Use <strong>&lt;p class="message"&gt;Your info message goes here!&lt;/p&gt;</strong>.</p>

<p class="tips">This is a sample tips message. Use <strong>&lt;p class="tips"&gt;Your tips goes here!&lt;/p&gt;</strong>.</p>

<p class="feed">This is a sample rss message. Use <strong>&lt;p class="feed"&gt;Your tips goes here!&lt;/p&gt;</strong>.</p>

<p class="stickynote">This is a sample clip note. Use <strong>&lt;p class="stickynote"&gt;Your clip note goes here!&lt;/p&gt;</strong> to form a clip note!</p>

<p class="download">This is a sample download. Use <strong>&lt;div class="download"&gt;&lt;p&gt;Your download goes here!&lt;/p&gt;</strong> to form a download!</p>

<blockquote>This is a sample Blockquote. Use <strong>&lt;blockquote&gt;Your quote goes here!&lt;/blockquote&gt;</strong> to form a quote!</blockquote>

</div></div>

<!-- ====================================================================== -->
<div class="module">
<div dojoType="dijit.TitlePane" title="Lists" open="false">

<ol>
<li>This is a sample <strong>Ordered List</strong>.</li>
<li>Lorem ipsum dolor sit amet consectetuer.</li>
<li>Condimentum quis.</li>
<li>Congue Quisque augue elit dolor nibh.</li>
</ol>

<ul>
<li>This is a sample <strong>Unordered List</strong>.</li>
<li>Condimentum quis.</li>
<li>Congue Quisque augue elit dolor.</li>
<li>Nunc cursus sem et pretium sapien eget.</li>
</ul>

<ul class="checklist">
<li>This is a sample <strong>Check list</strong>.</li>
<li>Dolor Curabitur Nam Nulla augue id.</li>
<li>Lorem et nunc congue pede auctor</li>
<li>Nunc cursus sem et pretium.</li>
</ul>

<ul class="stars">
<li>This is a sample <strong>Unordered list</strong>.</li>
<li>Dolor Curabitur Nam Nulla augue id iaculis.</li>
<li>Lorem et nunc congue pede auctor</li>
<li>Nunc cursus sem et pretium.</li>
</ul>

<ul class="arrow">
<li>This is a sample <strong>Unordered list</strong>.</li>
<li>Dolor Curabitur Nam Nulla augue id iaculis.</li>
<li>Lorem et nunc congue pede auctor</li>
<li>Nunc cursus sem et pretium.</li>
</ul>

<p class="blocknumber"><span class="bignumber">01</span>This is a sample block number. Use <strong>&lt;p class="blocknumber"&gt;&lt;span class="bignumber"&gt;01.&lt;/span&gt;Your content goes here!&lt;/p&gt;</strong> to form a block number!</p>

<p class="blocknumber"><span class="bignumber">02</span>This is a sample block number. Use <strong>&lt;p class="blocknumber"&gt;&lt;span class="bignumber"&gt;02.&lt;/span&gt;Your content goes here!&lt;/p&gt;</strong> to form a block number!</p>

<p class="blocknumber"><span class="bignumber">03</span>This is a sample block number. Use <strong>&lt;p class="blocknumber"&gt;&lt;span class="bignumber"&gt;03.&lt;/span&gt;Your content goes here!&lt;/p&gt;</strong> to form a block number!</p>

</div></div>

<!-- ====================================================================== -->
<div class="module">
<div dojoType="dijit.TitlePane" title="Code Displays" open="false">

<p>Below is a sample of <strong>&lt;pre&gt;</strong> or <strong>&lt;div class="code"&gt;</strong></p>
<pre>#ja-rightcol {
  width: 180px;
  float: right;
  color: #EEEEEE;
}
</pre>

</div></div>

<!-- ====================================================================== -->
<div class="module">
<div dojoType="dijit.TitlePane" title="Tables" open="false">
<table><thead>
<tr><th colspan="2">System Status</th></tr></thead><tbody>
<tr class="o">
  <td>Up since</td><td class="n">10/17/08 04:03AM</td>
</tr><tr class="e">
  <td>Next scheduled down time</td><td class="n">4:00AM</td>
</tr><tr class="o">
  <td>Current users</td><td class="n">16</td>
</tr>
<tr class="e">
  <td>Queued jobs</td><td class="n">0</td>
</tr></tbody></table>
</div></div>

</wo:net.sf.webcat.core.WCPageWithNavigation>
