<webobject name="HasOptions">
<table style="width:100%"><thead><tr><th><webobject name="HasCategories">
Show: <webobject name="CategoryList"/>
<script language="JavaScript">
<!--
function submitForm() { document.WizardForm.submit(); }
//-->
</script>
</webobject>
&nbsp;&nbsp;
<webobject name="OptionsAreVerbose"><webobject name="TerseOptions"/></webobject>
<webobject name="OptionsAreTerse"><webobject name="VerboseOptions"/></webobject>
verbose descriptions</th></tr></thead></table>
<webobject name="Repetition">
<webobject name="ShowThisOption"><p><webobject name="OptionPanel"/></p></webobject>
</webobject>
</webobject><webobject name="HasNoOptions">
<p>There are no configurable options to display.</p>
</webobject>
